//- header.ago_header
  p agoです
  p
    a(href="index.html") もどる
  p#app
#main_wrap.page-1
  h1.h1_wrap.txC 
    span H
    span O
    span M
    span E 
    span G
    span O
    span L
    span F
  #page1
  #page2.none
  #name.none
